*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: #f7f7f7;
    font-family: 'Palanquin Dark', sans-serif;
}

header{
    padding: 15px;
    height: 80px;
    background-color: white;
}

h1{
    font-size: 45px;
    font-weight: 400;
    display: inline-block;
    line-height: 50%;
    vertical-align: 50%;
}

h2{
    font-size: 20px;
    font-weight: 600;
}

.container{
    border-radius: 5px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: white; 

}
nav{
    
    padding: 10px 40px ;
    border-bottom: 2px solid rgb(211, 211, 211, 0.3);
}
.button_task{
    color: white;
    height: 30px;
    background-color: #47ADF1;
    border: none;
    padding: 10px;
    line-height: 50%;
    border-radius: 5px;

}

.button_section{
    height: 30px;
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
    padding: 10px;
    line-height: 50%;
    border-radius: 5px;
}

.Table{
    margin-bottom: 20px;

}

.check-list{
    width: 820px;
    margin: auto ;
    padding: 25px 0 25px 0;
}


span{
    font-size: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
.check_v{
    padding: 0 5px;
    display: inline-block;
    background-color: white;
    color: rgb(0, 163, 0);
    border: 1px solid rgb(0, 163, 0);
    border-radius: 50%;
}

.check_x{
    padding: 0 5px;
    display: inline-block;
    background-color: white;
    color:red;
    border: 1px solid red;
    border-radius: 50%;
}
.description{
    font-weight: 400;
    display: inline-block;
    padding: 0 0 15px 0;
}

.blue{
    background-color: #47ADF1;
}
.pink{
    background-color: #D863A1;
}
.green{
    background-color: #B0C926;
}
.aqua{
    background-color: #64C0A9;
}
.violet{
    background-color: #9C72E4;
}
.orange{
    background-color: #F29E33;
}
