*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: #f7f7f7;
    font-family: 'Noto Sans Bassa Vah', sans-serif;
}

header{
    padding: 15px;
    height: 80px;
    background-color: white;
}

.To-do{
    font-size: 45px;
    display: inline-block;
    line-height: 50%;
    vertical-align: 50%;
}
